<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>UserList</servlet-name>
        <servlet-class>firstpack.UserList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login1</servlet-name>
        <servlet-class>firstpack.Login1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>user_delete</servlet-name>
        <servlet-class>admin_java.user_delete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>update_process_cruise</servlet-name>
        <servlet-class>admin_java.update_process_cruise</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin</servlet-name>
        <servlet-class>admin_java.Admin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cruise_delete</servlet-name>
        <servlet-class>admin_java.cruise_delete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>room_details_delete</servlet-name>
        <servlet-class>admin_java.room_details_delete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>update_process_room_details</servlet-name>
        <servlet-class>admin_java.update_process_room_details</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cruise_add</servlet-name>
        <servlet-class>admin_java.cruise_add</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidEmail1</servlet-name>
        <servlet-class>firstpack.ValidEmail1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>vacation_idea</servlet-name>
        <servlet-class>firstpack.vacation_idea</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>vacation_delete</servlet-name>
        <servlet-class>admin_java.vacation_delete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>room_add</servlet-name>
        <servlet-class>admin_java.room_add</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>lost_found</servlet-name>
        <servlet-class>firstpack.lost_found</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>review</servlet-name>
        <servlet-class>admin_java.review</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>review1</servlet-name>
        <servlet-class>review1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserList</servlet-name>
        <url-pattern>/UserList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login1</servlet-name>
        <url-pattern>/Login1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>user_delete</servlet-name>
        <url-pattern>/user_delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>update_process_cruise</servlet-name>
        <url-pattern>/update_process_cruise</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin</servlet-name>
        <url-pattern>/Admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cruise_delete</servlet-name>
        <url-pattern>/cruise_delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>room_details_delete</servlet-name>
        <url-pattern>/room_details_delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>update_process_room_details</servlet-name>
        <url-pattern>/update_process_room_details</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cruise_add</servlet-name>
        <url-pattern>/cruise_add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidEmail1</servlet-name>
        <url-pattern>/ValidEmail1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>vacation_idea</servlet-name>
        <url-pattern>/vacation_idea</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>vacation_delete</servlet-name>
        <url-pattern>/vacation_delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>room_add</servlet-name>
        <url-pattern>/room_add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>lost_found</servlet-name>
        <url-pattern>/lost_found</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>review</servlet-name>
        <url-pattern>/review</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>review1</servlet-name>
        <url-pattern>/review1</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
